# Movie Recommendation Engine
Author: Waldy Setiono (waldysetiono@gmail.com)

## Introduction
Recommendation systems are widely used in our daily lives and to some extent play a significant role in shaping the desicions we make. Almost everything we buy, watch, consume, use, or even do is influenced by some form of recommendation, be it from friends, google search, family, shaman, preacher, political leader, advisor, lawyer, doctor, scholar, online reviews, app algorithm, and so on. Big companies gain substantial revenue growth by implementing recommender engine to their platforms.

Recommendation systems can be built using: <br/>
1. Content-based Filtering,
2. Collaborative Filtering, or
3. Combination of both (hybrid)

While content-based filtering attempts to guess what users may like based on their own activities, collaborative filtering tries to predict what a user might like based on other users that have similarity with the user in question. Collaborative filtering can be memory-based or model-based.

This project aims to develop an end-to-end recommendation system that can suggest someone some movies that she/he might like using model-based colaborative filtering.

## Data Preparation

In [1]:
# Import packages.
import pandas as pd
import numpy as np
from io import BytesIO
from urllib.request import urlopen
from zipfile import ZipFile
import os
import platform
import pprint
from typing import Dict, Text
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

**Data**:  The data used in this project is from GroupLens, a research lab at the University of of Minnesota. This dataset contains more than 100,000 ratings applied to 9,000 movies by 600 users.

In [2]:
# Load dataset.
zipurl = "https://files.grouplens.org/datasets/movielens/ml-latest-small.zip"
with urlopen(zipurl) as zipresp:
    with ZipFile(BytesIO(zipresp.read())) as zfile:
        zfile.extractall("/tmp/movielens")

**Titles and Genres**

In [3]:
# Check movie titles.
movies = pd.read_csv('/tmp/movielens/ml-latest-small/movies.csv')
movies

      movieId  ...                                       genres
0           1  ...  Adventure|Animation|Children|Comedy|Fantasy
1           2  ...                   Adventure|Children|Fantasy
2           3  ...                               Comedy|Romance
3           4  ...                         Comedy|Drama|Romance
4           5  ...                                       Comedy
...       ...  ...                                          ...
9737   193581  ...              Action|Animation|Comedy|Fantasy
9738   193583  ...                     Animation|Comedy|Fantasy
9739   193585  ...                                        Drama
9740   193587  ...                             Action|Animation
9741   193609  ...                                       Comedy

[9742 rows x 3 columns]

In [4]:
# Print how many unique values of each column. 
print("There are ", movies.movieId.nunique(), "unique values in movieID.")
print("There are ", movies.title.nunique(), "unique values in title.")
print("There are ", movies.genres.nunique(), "unique values in genres.")

There are  9742 unique values in movieID.
There are  9737 unique values in title.
There are  951 unique values in genres.

**Ratings**

In [5]:
# Make a dataframe of ratings.
ratings = pd.read_csv('/tmp/movielens/ml-latest-small/ratings.csv')
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [6]:
# Drop timestamp from the dataframe.
ratings = ratings.drop(columns=["timestamp"])
ratings

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [7]:
# Print how many unique values of each column. 
print("There are ", ratings.userId.nunique(), "unique values in userID.")
print("There are ", ratings.movieId.nunique(), "unique values in movieID.")
print("There are ", ratings.rating.nunique(), "unique values in rating.")

There are  610 unique values in userID.
There are  9724 unique values in movieID.
There are  10 unique values in rating.

In [8]:
# Check missing values.
null_data = ratings[ratings.isnull().any(axis=1)]
null_data

Empty DataFrame
Columns: [userId, movieId, rating]
Index: []

It seems there is no missing value in the dataframe.

## Collaborative Filtering

In order to make a recommendation system based on collaborative filtering, let's first of all make a matrix containing user ID, movie ID, and how the users rate the movies.

In [10]:
# Merge movies and ratings.
movies_ratings = pd.merge(ratings, movies, on='movieId')
movies_ratings

        userId  ...                                       genres
0            1  ...  Adventure|Animation|Children|Comedy|Fantasy
1            5  ...  Adventure|Animation|Children|Comedy|Fantasy
2            7  ...  Adventure|Animation|Children|Comedy|Fantasy
3           15  ...  Adventure|Animation|Children|Comedy|Fantasy
4           17  ...  Adventure|Animation|Children|Comedy|Fantasy
...        ...  ...                                          ...
100831     610  ...                              Action|Thriller
100832     610  ...                           Action|Crime|Drama
100833     610  ...                        Action|Drama|Thriller
100834     610  ...                              Horror|Thriller
100835     610  ...                                       Horror

[100836 rows x 5 columns]

In [11]:
# Create matrix using pivot table.
matrix = movies_ratings.pivot_table(values='rating', index='title', columns='userId').fillna(0)
matrix

userId                                     1    2    3    ...  608  609  610
title                                                     ...
'71 (2014)                                 0.0  0.0  0.0  ...  0.0  0.0  4.0
'Hellboy': The Seeds of Creation (2004)    0.0  0.0  0.0  ...  0.0  0.0  0.0
'Round Midnight (1986)                     0.0  0.0  0.0  ...  0.0  0.0  0.0
'Salem's Lot (2004)                        0.0  0.0  0.0  ...  0.0  0.0  0.0
'Til There Was You (1997)                  0.0  0.0  0.0  ...  0.0  0.0  0.0
...                                        ...  ...  ...  ...  ...  ...  ...
eXistenZ (1999)                            0.0  0.0  0.0  ...  4.5  0.0  0.0
xXx (2002)                                 0.0  0.0  0.0  ...  3.5  0.0  2.0
xXx: State of the Union (2005)             0.0  0.0  0.0  ...  0.0  0.0  1.5
¡Three Amigos! (1986)                      4.0  0.0  0.0  ...  0.0  0.0  0.0
À nous la liberté (Freedom for Us) (1931)  0.0  0.0  0.0  ...  0.0  0.0  0.0

[9719 rows x 610 columns]

In [ ]:
genome_scores = pd.read_csv('/tmp/movielens/ml-latest/genome-scores.csv')
genome_scores

          movieId  tagId  relevance
0               1      1    0.02900
1               1      2    0.02375
2               1      3    0.05425
3               1      4    0.06875
4               1      5    0.16000
...           ...    ...        ...
14862523   187595   1124    0.10700
14862524   187595   1125    0.05850
14862525   187595   1126    0.03800
14862526   187595   1127    0.10225
14862527   187595   1128    0.02925

[14862528 rows x 3 columns]

In [ ]:
genome_tags = pd.read_csv('/tmp/movielens/ml-latest/genome-tags.csv')
genome_tags

      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

In [ ]:
links = pd.read_csv('/tmp/movielens/ml-latest/links.csv')
links

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
58093   193876    38566   78251.0
58094   193878  1754787   87558.0
58095   193880  5847740  422666.0
58096   193882  4453756  454439.0
58097   193886  7606620  540871.0

[58098 rows x 3 columns]

       movieId  ...                                       genres
0            1  ...  Adventure|Animation|Children|Comedy|Fantasy
1            2  ...                   Adventure|Children|Fantasy
2            3  ...                               Comedy|Romance
3            4  ...                         Comedy|Drama|Romance
4            5  ...                                       Comedy
...        ...  ...                                          ...
58093   193876  ...                           (no genres listed)
58094   193878  ...                                       Comedy
58095   193880  ...                                        Drama
58096   193882  ...                Adventure|Drama|Horror|Sci-Fi
58097   193886  ...                           Action|Crime|Drama

[58098 rows x 3 columns]

In [ ]:
ratings = pd.read_csv('/tmp/movielens/ml-latest/ratings.csv')
ratings

          userId  movieId  rating   timestamp
0              1      307     3.5  1256677221
1              1      481     3.5  1256677456
2              1     1091     1.5  1256677471
3              1     1257     4.5  1256677460
4              1     1449     4.5  1256677264
...          ...      ...     ...         ...
27753439  283228     8542     4.5  1379882795
27753440  283228     8712     4.5  1379882751
27753441  283228    34405     4.5  1379882889
27753442  283228    44761     4.5  1354159524
27753443  283228    54286     4.5  1354159718

[27753444 rows x 4 columns]

In [ ]:
tags = pd.read_csv('/tmp/movielens/ml-latest/tags.csv')
tags

         userId  movieId                 tag   timestamp
0            14      110                epic  1443148538
1            14      110            Medieval  1443148532
2            14      260              sci-fi  1442169410
3            14      260        space action  1442169421
4            14      318        imdb top 250  1442615195
...         ...      ...                 ...         ...
1108992  283206    73017                 fun  1264379059
1108993  283206    73017  homoerotic subtext  1264379058
1108994  283206    73017              pacing  1264379058
1108995  283206    73017                plot  1264379058
1108996  283221    49651  Sylvester Stallone  1168346830

[1108997 rows x 4 columns]

## References
1. Banik, R. (2018). *Hands-on recommendation systems with python*. Birmingham: Packt.
2. Department of Computer Science and Engineering, University of Minnesota. (2021). *GroupLens*. https://grouplens.org/datasets/movielens
3. Strang, G. (2016). *Introduction to linear algebra*. MA: Wellesley-Cambridge Press.